@import "tailwindcss";
@import "./theme.css";

@font-face {
    font-family: "Outfit";
    src: url("@/web/assets/fonts/outfit.ttf") format("truetype");
}

HTML,
BODY,
#root {
    font-family:
        "Outfit",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    @apply h-full w-full text-text;
}

.mantine-Button-root[data-variant="default"] {
    @apply shadow-[0px_2px_4px_rgba(0,0,0,0.05)];
}
