@theme {
    --spacing: 8px;
    --color-brand: #002fa7;
    --color-brand-100: #cfd9e6;
    --color-brand-200: #8babd9;
    --color-brand-300: #628bcc;
    --color-brand-400: #3d6bbf;
    --color-brand-500: #1d4cb3;
    --color-brand-600: #002fa7;
    --color-brand-700: #002080;
    --color-brand-800: #001359;
    --color-brand-900: #000933;
    --color-brand-1000: #00020d;
    --color-primary: var(--color-brand-600);
    --color-primary-solid: var(--color-brand-600);
    --color-primary-contrast: var(--color-brand-100);
    --color-primary-fg: var(--color-brand-200);
    --color-primary-muted: var(--color-brand-300);
    --color-primary-subtle: var(--color-brand-400);
    --color-primary-emphasized: var(--color-brand-500);
    --color-border: #e7e7e7;
    --color-color-footnote: #9e9e9e;
    --text-*: initial;
    --leading-*: initial;
    --font-weight-*: initial;
    --text-footnote: 12px;
    --text-text: 14px;
    --text-subtitle: 16px;
    --text-title: 24px;
    --text-headline: 40px;
    --leading-footnote-xs: 12px;
    --leading-footnote-sm: 16px;
    --leading-footnote-md: 20px;
    --leading-footnote-lg: 24px;
    --leading-text-xs: 14px;
    --leading-text-sm: 18px;
    --leading-text-md: 22px;
    --leading-text-lg: 26px;
    --leading-subtitle-xs: 16px;
    --leading-subtitle-sm: 20px;
    --leading-subtitle-md: 24px;
    --leading-subtitle-lg: 28px;
    --leading-title-xs: 24px;
    --leading-title-sm: 28px;
    --leading-title-md: 32px;
    --leading-title-lg: 36px;
    --leading-headline-xs: 40px;
    --leading-headline-sm: 44px;
    --leading-headline-md: 48px;
    --leading-headline-lg: 52px;
    --font-weight-footnote: 400;
    --font-weight-text: 400;
    --font-weight-subtitle: 500;
    --font-weight-title: 600;
    --font-weight-headline: 800;
}
